
<style>
:root {
  --background: #ffffff;
  --highlight:#7d97c3;
  --highlight-light: #676767;
  --contrast-font: #000 ;
  --inactive-font: #3F4042;
  --underline: #24ff07;
}

.resume.container{
  background: var(--background);
  padding: 30px;
}
.about-me .img-fluid{
  border-radius: 20%;
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--highlight-light);
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: var(--highlight-light);
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.interests.container{
  margin-top: 20px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 30px 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--inactive-font);
  font-family: "Poppins", sans-serif;
}
.section-title h2::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--inactive-font);
  margin: 4px 10px;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--inactive-font);
  margin: 4px 10px;
}

.resume .resume-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--contrast-font);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--highlight-light);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--highlight-light);
  border: 2px solid var(--highlight-light);
}
  .row-2column {
  display: flex;
  gap: 20px;
}
.col-left, .col-right {
  flex: 1;
}
</style>
   

    <div id="downloadable-resume-container" class="resume container">
      
      <!-- About me -->
      <div class="section-title">
        <center><h2>{{ site.data.t.header.about[page.lang] }}</h2></center>
      </div>

      <div class="row about-me">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="/assets/img/profile.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p>{{ site.data.t.about.description[page.lang] }}</p>        
        </div>
        </div>
        <div class="row about-me mt-4">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>{{ site.data.t.about.birthday[page.lang] }}: </strong>{{ site.author.birthday }}</li>

                <!-- Comienzo Calculo de la Edad -->
                {% assign current_year = "now" | date: "%Y" | plus: 0 %}
                {% assign birth_year = site.author.birthday | date: "%Y" | plus: 0 %}
                {% assign age = current_year | minus: birth_year %}

                {% assign current_month_day = "now" | date: "%m%d" | plus: 0 %}  
                {% assign birth_month_day = site.author.birthday | date: "%m%d" | plus: 0 %}
                {% if current_month_day < birth_month_day %}
                  {% assign age = age | minus: 1 %}
                {% endif %}
                <!-- Fin Calculo de la Edad. Variable de Salida: age -->
                <li><i class="icofont-rounded-right"></i> <strong>{{ site.data.t.about.age[page.lang] }}: </strong>{{ age }}</li>
                <li><i class="icofont-rounded-right"></i> <strong>{{ site.data.t.about.phone[page.lang] }}: </strong>{{ site.author.phone }}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>{{ site.data.t.about.city[page.lang] }}: </strong> {{site.author.city }}</li>
                <li><i class="icofont-rounded-right"></i> <strong>{{ site.data.t.about.email[page.lang] }}: </strong>{{ site.author.email }}</li>
              </ul>
            </div>          
        </div> <!-- End About me -->


      <!-- Resume -->
      <div class="section-title row mt-1">
        <center><h2>{{ site.data.t.header.resume[page.lang] }}</h2></center>
      </div>

      <div class="row-2column row mt-1">
        <!-- Education section -->
          <h3 class="resume-title" prop1='{{ site.data.t.resume.education.title[page.lang] }}'>{{ site.data.t.resume.education.title[page.lang] }}</h3>
        <div class="col-left">
          {% assign half = site.data.t.resume.education.items.size | divided_by: 2 | ceil %}
          {% for item in site.data.t.resume.education.items limit:half %}
            <div class="resume-item">
              <h4>{{ item.title[page.lang] }}</h4>
              <h5>{{ item.period }}</h5>
              <p><em>{{ item.place[page.lang] }}</em></p>
              <p>{{ item.description[page.lang] }}</p>
            </div>
          {% endfor %}
        </div>      
        <div class="col-right">
          {% assign half = site.data.t.resume.education.items.size | divided_by: 2 | ceil %}
          {% for item in site.data.t.resume.education.items offset:half %}
            <div class="resume-item">
              <h4>{{ item.title[page.lang] }}</h4>
              <h5>{{ item.period }}</h5>
              <p><em>{{ item.place[page.lang] }}</em></p>
              <p>{{ item.description[page.lang] }}</p>
            </div>
          {% endfor %}
        </div>
      </div> <!-- End Education section -->
      
      <div class="row-2column row mt-3">    
          <!-- Experience section -->        
          <h3 class="resume-title" prop1='{{ site.data.t.resume.experience.title[page.lang] }}'>{{ site.data.t.resume.experience.title[page.lang] }}</h3>
          <div class="col-left">
          {% assign half = site.data.t.resume.experience.items.size | divided_by: 2 | ceil %}
          {% for item in site.data.t.resume.experience.items limit:half %}
          <div class="resume-item" >
            <h4>{{ item.title[page.lang] }}</h4>
            <h5>{{ item.period }}</h5>
            <p><em>{{ item.place[page.lang] }}</em></p>
            <p>{{ item.description[page.lang] }}</p>
          </div>
          {% endfor %}          
        </div>

        <div class="col-right">
        {% assign half = site.data.t.resume.experience.items.size | divided_by: 2 | ceil %}
          {% for item in site.data.t.resume.experience.items offset:half %}
          <div class="resume-item" >
            <h4>{{ item.title[page.lang] }}</h4>
            <h5>{{ item.period }}</h5>
            <p><em>{{ item.place[page.lang] }}</em></p>
            <p>{{ item.description[page.lang] }}</p>
          </div>
          {% endfor %}          
        </div>      
      </div> <!--End Experience section -->  

  <!-- Start Skills Section -->

  <div class="container">
      <div class="section-title">
        <h2>{{ site.data.t.header.skills[page.lang]}}</h2>
      </div>

      <div class="row py-2">
        {% for category in site.data.t.skills.categories %}
        <div class="col-lg-10 mx-auto">
          <div class="card shadow mb-1">
            <div class="card-body p-1">
                <h4 class="mb-3">{{ category.title[page.lang] }}</h4>
                <ul class="list-bullets">
                    {% for skill in category.skills %}
                    {% if skill.icon != "" %}
                    <div class="icon-box">
                    <i class="skill-icon {{ skill.icon }}"></i>
                    <li class="mb-1">{{ skill[page.lang] }}</li>
                    </div>
                    {% else %} 
                    <li class="mb-1 without-icon">{{ skill[page.lang] }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>  
        {% endfor %}
      </div>  
    </div>

  <!-- End Skills Section -->
 </div><!-- End Resume -->

